body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    margin: 10px 0;
}

select {
    padding: 5px;
}

main {
    padding: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    text-align: center;
}

.movie-item img {
    width: 100%;
    height: auto;
}

.movie-item h3 {
    margin: 10px 0;
}

.movie-item p {
    padding: 0 10px 10px;
}

button {
    background-color: #007bff; 
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease,       transform 0.3s ease;
  }

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
